dist: trusty
language: ruby
sudo: false
services:
  - mongodb
jdk:
  - oraclejdk8
rvm:
  - 2.4.3
env:
  global:
    - TEST_CLUSTER_NODES=1
  matrix:
    - ES_VERSION=7.9.1
gemfile:
  - gemfiles/rails.5.2.activerecord.gemfile
  - gemfiles/rails.6.0.activerecord.gemfile
before_install:
  - curl -s https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.9.1-linux-x86_64.tar.gz | tar xz -C /tmp
before_script:
  - TEST_CLUSTER_COMMAND=/tmp/elasticsearch-$ES_VERSION/bin/elasticsearch TEST_CLUSTER_LOGS=/tmp/log rake es:start
script:
  - bundle exec rspec
  - bundle exec rubocop
